<section>
  <title>Autores</title>
  <h1>Creadores del blog oficial del Bayern de los Caídos</h1>
  <div class="boxesContainer">
        
      <div class="cardBox">
        <div class="card">
          <div class="front">
              <FONT SIZE=6>
              <p><b>Álvaro Pérez Saldaña</b></br></FONT>
              <p><img class = "autor" src="images/alvaro.png"  alt="Foto del susodicho"></p> 
          </div>
          <div class="back">
              <p><FONT SIZE=5>
                Estudiante del grado de Datos en la ETSIT UPM</br></br>
                Proveedor confiable de clinex</br></br>
                Frómista, Palencia</br></br>
                29-05-2003</br></br>
                1.80m  77kg</br></br>
                Defensa Lateral</br></br>
                Actual Campeón de 4 en raya de la carrera
            </p></FONT>  
          </div>
        </div>
      </div>
      <div class="cardBox">
          <div class="card">
            <div class="front">
              <FONT SIZE=6>
              <p><b>Antonio Verdú Salpico</b></br></FONT>
              <p><img  class = "autor" src="images/verdu.png" alt="Foto del susodicho"></p>
              </p>
            </div>
            <div class="back">
              <p><FONT SIZE=5>
                Estudiante del grado de Datos en la ETSIT UPM</br></br>           
                Capitán del equipo</br></br>
                Malpartida de Cáceres</br></br>
                13-03-2003</br></br>
                1.76m  75kg</br></br>
                Defensa Central</br></br>
                Amante del Cálculo y de la Programación
            </p></FONT>
            </div>
          </div>
        </div>
    </div>
</section>
