<section>
  <title>Home</title>
  <h1>Bayern de los Caídos</h1>
  <p><b>Bienvenido a la página web oficial del Bayern de los Caídos</b></p>
  <img class = autor src = "/images/bayern.png" alt = "Nuestra ejemplar plantilla"> 
</section>