<section>
    <h1>Show Quiz:</h1>
    <% include ../attachments/attachment %>
    <ul>
        <li>Título: <b><%= post.title %></b></li>
        <li>Cuerpo: <b><%= post.body %></b></li>
    </ul>
    <a href="/posts" class="button">Go back</a>
</section>
